.LiquidityForm {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    /* Set your desired max-width */
    margin: 20px auto;
    /* Center the form on the page */
}

.info-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    width: 25%;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.AddLiquidityForm {
    margin-top: 20px;
}

.input-field {
    display: flex;
    margin-bottom: 10px;
}

.FLR,
.ZNX {
    margin-right: 10px;
}

.I_FLR,
.I_ZNX {
    flex: 1;
}

button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px 15px;
    font-size: 20px;
    background-color: #dbb125;
    color: #000000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}



body {
    font-family: 'Playfair Display', serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    /* Hide vertical scrollbar */
    overflow-x: hidden;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    text-align: center;
}

label {
    display: block;
    margin: 15px 0;
}

select,
input {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 15px;
}

button {
    background-color: #E89528;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #F4A32C;
}

.navbar {
    background-color:#000000;
    padding: 15px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    /* Adjust the size as needed */
    margin-right: 10px;
}

.logo span {
    font-size: 1.7rem;
    font-family: 'Georgia', fantasy;
    text-decoration-color: #ccc;
    text-decoration:wavy;
    text-shadow: #ccc;
    text-overflow: ellipsis;
    font-weight: 900;
    font-weight: bold;
    color: #E89528;
}

.wallet-status {
    display: flex;
    align-items: center;
}

.wallet-status p {
    margin: 0;
    margin-right: 15px;
}

.wallet-status button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #fff;
    color: #F4A32C;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
